{% extends 'alllink.html' %}
{% load static %}
{% block title %}Shop cart checkout{% endblock %}
{% block body %}

<div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav >
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li ><a class="text-nowrap" href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp;Home /&nbsp;</a></li>
              <li class=" text-nowrap"><a href="#">Shop /&nbsp;</a>
              </li>
              <li class=" text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->
          <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="">
              <div class="step-progress"><span class="step-count">1</span></div>
              <div class="step-label"><i class="fa fa-shopping-cart"></i>Cart</div></a><a class="step-item active current" href="{% url 'shopcart' %}">
              <div class="step-progress"><span class="step-count">2</span></div>
              <div class="step-label"><i class="fa fa-user-circle"></i>Your details</div></a><a class="step-item" href="{% url 'checkout' %}">
              <div class="step-progress"><span class="step-count">3</span></div>
              <div class="step-label"><i class="fa fa-credit-card"></i>Payment</div></a><a class="step-item" href="#">
              <div class="step-progress"><span class="step-count">4</span></div>
              <div class="step-label"><i class="fa fa-check-square"></i>Review</div></a></div>
          <!-- Autor info-->
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-lg mb-grid-gutter">
            <div class="media align-items-center">
              <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span class="badge badge-warning" data-toggle="tooltip" title="Reward points">{{count}}</span><img class="rounded-circle" src="{{profile.image.url}}" alt="Susan Gardner"></div>
              <div class="media-body pl-3">
                <h3 class="font-size-base mb-0">{{profile.user.username}}</h3><span class="text-accent font-size-sm">{{profile.user.email}}</span>
              </div>
            </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="{% url 'profile' %}"><i class="fa fa-edit mr-2"></i>Edit profile</a>
          </div>
          <!-- Shipping address-->
          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>
          <form method="POST">
            {% csrf_token %}
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-fn">First Name</label>
                <input class="form-control" type="text" name ='first_name' value="{{ profile.user.first_name}}" id="checkout-fn">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-ln">Last Name</label>
                <input class="form-control" type="text" name ='last_name' value="{{profile.user.last_name}}"id="checkout-ln">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-email">E-mail Address</label>
                <input class="form-control" type="email"  name="email" value="{{ profile.user.email}}" id="checkout-email" disabled >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-phone">Phone Number</label>
                <input class="form-control" type="text"  name="phone" value="{{ profile.phone}}" id="checkout-phone" >
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Country">Country </label>
                <input class="form-control " name="country" value="{{ profile.country}}" id="Country" type="text" placeholder="Country" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-zip">ZIP Code</label>
                <input class="form-control" type="text" value="{{ profile.ip}}" name="ip" id="checkout-zip"  >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-address-1">City</label>
                <input class="form-control" type="text"   value="{{ profile.city}}" name="city"  id="checkout-address-1">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="checkout-address-2">Address 2</label>
                <input class="form-control" type="text"  value="{{ profile.address}}" name="address"   id="checkout-address-2"  >
              </div>
            </div>
          </div>
          <h6 class="mb-3 py-3 border-bottom">Billing address</h6>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" checked id="same-address">
            <label class="custom-control-label" for="same-address">Same as shipping address</label>
            <div class="w-25 pl-2"><button type="submit" class="btn btn-primary btn-block"><span class="d-none d-sm-inline">Submit</span><i class="fa fa-arrow-right mt-sm-0 ml-1"></i> </button></a></div>

          </div>
           </form>
                        <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
              <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="{% url 'shopcart' %}"><i class="fa fa-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
              <div class="w-50 pl-2"><a href="#" class="btn btn-primary btn-block"><span class="d-none d-sm-inline">Proceed to Shipping</span><i class="fa fa-arrow-right mt-sm-0 ml-1"></i> </a></div>
            </div>
         


        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
            <div class="widget mb-3">
              <h2 class="widget-title text-center">Order summary</h2>
              {% for ps in shopcart %}
              <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" href="#">
              {% if ps.variant.image_id > 0 %}
                  <img src="{{ps.variant.image_tag}}"width="64" alt="Product"></a>
                {% else %}
                  <img width="64" src="{{ps.product.image1.url}}" alt="Product"/></a>
                {% endif %}
              
              
                <div class="media-body">
                  <h6 class="widget-product-title"><a href="#">{{ps.product.title}}</a></h6>
                  <div class="widget-product-meta"><span class="text-accent mr-2">{% if ps.product.variant == 'None' %} ${{ps.price}} {% else %} ${{ps.variant.price}} {% endif %}</span><span class="text-muted">x {{ps.quantity}}</span></div>
                </div>
              </div>
              {% endfor %}

            </div>
            <ul class="list-unstyled font-size-sm pb-2 border-bottom">
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span class="text-right">${{total}}.<small>00</small></span></li>
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span class="text-right">—</span></li>
              {% if total >= 2000 %}
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span class="text-right">$30.<small>50</small></span></li>
              {% else %}
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span class="text-right">$20.<small>50</small></span></li>

              {% endif %}
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span class="text-right">—</span></li>

            </ul>
            {% if total >= 2000 %}
            <h3 class="font-weight-normal text-center my-4">${{total|add:'30'}}.<small>50</small></h3>
            {% else %}
            <h3 class="font-weight-normal text-center my-4">${{total|add:'20' }}.<small>50</small></h3>
            {% endif %}

            <form class="needs-validation" method="post" novalidate>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Promo code" required>
                <div class="invalid-feedback">Please provide promo code.</div>
              </div>
              <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
            </form>
          </div>
        </aside>
      </div>
      <!-- Navigation (mobile)-->
      <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block"  href="{% url 'shopcart' %}"><i class="fa fa-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="#"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="fa fa-arrow-right mt-sm-0 ml-1"></i></a></div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}