
{% extends 'alllink.html' %}
{% load static %}
{% block title %}Review{% endblock %}
{% block body %}

<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav >
        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li ><a class="text-nowrap" href="#"><i class="fa fa-home"></i>&nbsp;Home /&nbsp;</a></li>
          <li class=" text-nowrap"><a href="#">Shop /&nbsp;</a>
          </li>
          <li class=" text-nowrap active" aria-current="page">Checkout</li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 text-light mb-0">Checkout</h1>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
  <div class="row">
    <section class="col-lg-8">
      <!-- Steps-->
      <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="">
        <div class="step-progress"><span class="step-count">1</span></div>
        <div class="step-label"><i class="fa fa-shopping-cart"></i>Cart</div></a><a class="step-item active " href="#">
        <div class="step-progress"><span class="step-count">2</span></div>
        <div class="step-label"><i class="fa fa-user-circle"></i>Your details</div></a><a class="step-item  active" href="#">
        <div class="step-progress"><span class="step-count ">3</span></div>
        <div class="step-label"><i class="fa fa-credit-card"></i>Payment</div></a><a class="step-item active"  href="{% url 'review' %}">
        <div class="step-progress"><span class="step-count">4</span></div>
        <div class="step-label"><i class="fa fa-check-square  active" ></i>Review</div></a></div>
          <!-- Order details-->
          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Review your order</h2>
          <!-- Item-->
      {% if shopcart %}

          {% for ps in shopcart %}

          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">

              <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
                <a class="d-inline-block mx-auto mr-sm-4" href="#" style="width: 10rem;">
                {% if ps.variant.image_id > 0 %}
                  <img src="{{ps.variant.image_tag}}" alt="Product"></a>
                {% else %}
                  <img src="{{ps.product.image1.url}}" alt="Product"></a>
                {% endif %}

              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="#">{{ps.product.title}}</a></h3>
<!--                <h3 class="product-title font-size-base mb-2"><a href="/product/{{ps.product.id}}/{{ps.product.slug}}">{{ps.product.title}}</a></h3>-->
                <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>{{ps.variant.size}}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>{{ps.variant.color}}</div>
                <div class="font-size-lg text-accent pt-2">{% if ps.product.variant == 'None' %} ${{ps.price}} {% else %} ${{ps.variant.price}} {% endif %}</div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <div class="form-group mb-0">
                <label class="font-weight-medium">Quantity {{ps.quantity}}</label>

              </div>
              <a href="{% url 'deletefromcart' ps.id %}"><button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-close mr-2"></i><span class="font-size-sm">Remove</span></button></a>
<!--              <a href="/order/deletefromcart/{{ps.id}}"><button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-close mr-2"></i><span class="font-size-sm">Remove</span></button></a>-->
            </div>
          </div>

          {% endfor %}

          {% else %}
          <h1>Please Add Product In Your Cart </h1>
          <h1> Go To <a href="{% url 'home' %}">Home</a> </h1>

          {% endif %}
          <!-- Client details-->
          <div class="bg-secondary rounded-lg px-4 pt-4 pb-2">
            <div class="row">
              <div class="col-sm-6">
                {% for ps in profile|slice:'1' %}
                <h4 class="h6">Shipping to:</h4>
                <ul class="list-unstyled font-size-sm">
                  <li><span class="text-muted">Client:&nbsp;</span>{{ps.user}}</li>
                  <li><span class="text-muted">Address:&nbsp;</span>{{ps.address}}.{{ps.country}}, {{ps.city}}</li>
                  <li><span class="text-muted">Phone:&nbsp;</span>{{ps.phone}}</li>
                </ul>
                {% endfor %}
              </div>
              <div class="col-sm-6">
                {% for ps in payment %}
                <h4 class="h6">Payment method:</h4>
                <ul class="list-unstyled font-size-sm">
                  <li><span class="text-muted">Credit Card:&nbsp;</span>**** **** **** {{ps.card_number|truncatechars:'5'}} </li>
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- Navigation (desktop)-->
          <div class="d-none d-lg-flex pt-4">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="{% url 'payment' %}"><i class="fa fa-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Payment</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="{% url 'thanku' %}"><span class="d-none d-sm-inline">Complete order</span><span class="d-inline d-sm-none">Complete</span><i class="fa fa-arrow-right mt-sm-0 ml-1"></i></a></div>
          </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
      <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
        <div class="widget mb-3">
          <h2 class="widget-title text-center">Order summary</h2>
        </div>
        <ul class="list-unstyled font-size-sm pb-2 border-bottom">
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span class="text-right">${{total}}.<small>00</small></span></li>
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span class="text-right">—</span></li>
          {% if total >= 2000 %}
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span class="text-right">$30.<small>50</small></span></li>
          {% else %}
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span class="text-right">$20.<small>50</small></span></li>

          {% endif %}
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span class="text-right">—</span></li>

        </ul>
        {% if total >= 2000 %}
        <h3 class="font-weight-normal text-center my-4">${{total|add:'30'}}.<small>50</small></h3>
        {% else %}
        <h3 class="font-weight-normal text-center my-4">${{total|add:'20' }}.<small>50</small></h3>
        {% endif %}

        <form class="needs-validation" method="post" novalidate>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Promo code" required>
            <div class="invalid-feedback">Please provide promo code.</div>
          </div>
          <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
        </form>
      </div>
    </aside>
      </div>

       <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block"  href="{% url 'payment' %}"><i class="fa fa-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="#"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="fa fa-arrow-right mt-sm-0 ml-1"></i></a></div>
          </div>
        </div>
        </div>
      </div>
  {% endblock %}