{% extends 'alllink.html' %}
{% load static %}
{% block title %} R.Thakur Ecommerce {% endblock %}
{% block body %}
<!-- Page Content-->

<!-- Navbar-->

<!-- Hero slider-->
<section class="carousel slide controls-lg mb-4 mb-lg-5" data-ride="carousel" id="demo">
  <ul class="carousel-indicators">
    <li class="active" data-target="#demo" data-slide-to ="0"></li>
    <li  data-target="#demo" data-slide-to ="1"></li>
    <li  data-target="#demo" data-slide-to ="2"></li>
  </ul>
  <div class="carousel-inner" >
    <!-- Item-->
    <div class="px-lg-5 carousel-item active" style="background-color: #f5b1b0;">
      <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="{% static '/img/women/02 (1).jpg' %}" alt="Women Sportswear">
        <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
            <h2 class="text-light font-weight-light pb-1 from-bottom">Hurry up! Limited time offer.</h2>
            <h1 class="text-light display-4 from-bottom delay-1">Women Sportswear Sale</h1>
            <p class="font-size-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp; much more...</p><a class="btn btn-primary scale-up delay-4"href="#">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Item-->
    <div class="px-lg-5 carousel-item " style="background-color: #3aafd2;">
      <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="{% static '/img/women/01 (1).jpg' %}" alt="Summer Collection">
        <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
            <h2 class="text-light font-weight-light pb-1 from-left">Has just arrived!</h2>
            <h1 class="text-light display-4 from-left delay-1">Huge Summer Collection</h1>
            <p class="font-size-lg text-light pb-3 from-left delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="#">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Item-->
    <div class="px-lg-5 carousel-item" style="background-color: #eba170;">
      <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="{% static '/img/women/03 (1).jpg' %}" alt="Men Accessories">
        <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
            <h2 class="text-light font-weight-light pb-1 from-top">Complete your look with</h2>
            <h1 class="text-light display-4 from-top delay-1">New Men's Accessories</h1>
            <p class="font-size-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="#">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
          </div>
        </div>
      </div>
    </div>
    <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
    <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
  </div>
</section>
<!-- Category (Women)-->
<section class="container pt-lg-3 mb-4 mb-sm-5">
  <div class="row">
    <!-- Banner with controls-->
    <div class="col-md-5">
      <div class="d-flex flex-column h-100 overflow-hidden rounded-lg" style="background-color: #f6f8fb;">
        <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
          <div>
            <h3 class="mb-1">For Women</h3><a class="font-size-md" href="#">Shop for women<i class="fa fa-arrow-right"></i></a>
          </div>

        </div><a class="d-none d-md-block mt-auto"href="#"><img class="d-block w-100" src="{% static '/img/women/cat-lg02.jpg' %}" alt="For Women"></a>
      </div>
    </div>
    <!-- Product grid (carousel)-->
    <div class="col-md-7 pt-4 pt-md-0">
      <div class="carousel">
        <div class="carousel-inner">
          <!-- Carousel item-->
          <div>
            <div class="row mx-n2 ">
              {% for ps in product|slice:'0:6' %}
              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4 ">
                <div class="card product-card card-static">
                

                <form action="/order/addtowishlist/{{ps.id}}" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="productid" id="productid" value="{{product.id}}">
                  <button class="btn-wishlist btn-sm" type="submit" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                </form>
                  
                  <a class="card-img-top d-block overflow-hidden" href="{% url 'show_product' ps.id %}"><img src="{{ps.image1.url}}" alt="Product"></a>
                  <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ps.title}}</a>
                    <h3 class="product-title font-size-sm"><a href="#">{{ps.heading}}</a></h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price"><span class="text-accent">${{ps.price}}.<small>99</small></span></div>
                      <div class="star-rating">
                        <i class="fa fa-star {% if ps.star_average >= 1 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 2 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 3 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 4 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 50 %} text-warning {% endif %} "></i>
                        <small>{{ps.star_average}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category (Men)-->
<section class="container pt-lg-4 mb-4 mb-sm-5">
  <div class="row">
    <!-- Banner with controls-->
    <div class="col-md-5 order-md-2">
      <div class="d-flex flex-column h-100 overflow-hidden rounded-lg" style="background-color: #f6f8fb;">
        <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
          <div class="order-md-2">
            <h3 class="mb-1">For Men</h3><a class="font-size-md" href="#">Shop for men<i class="fa fa-arrow-right font-size-xs align-middle ml-1"></i></a>
          </div>
        </div><a class="d-none d-md-block mt-auto" href="#"><img class="d-block w-100" src="{% static '/img/man/cat-lg01.jpg' %}" alt="For Men"></a>
      </div>
    </div>
    <!-- Product grid (carousel)-->
    <div class="col-md-7 pt-4 pt-md-0 order-md-1">
      <div class="carousel">
        <div class="carousel-inner">
          <!-- Carousel item-->
          <div>
            <div class="row mx-n2">
              {% for ps in product|slice:'4:10' %}
              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                <div class="card product-card card-static">
                  <form action="/order/addtowishlist/{{ps.id}}" method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="productid" id="productid" value="{{product.id}}">
                  <button class="btn-wishlist btn-sm" type="submit" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                  </form>                  
                <a class="card-img-top d-block overflow-hidden" href="{% url 'show_product' ps.id %}"><img src="{{ps.image1.url}}" alt="Product"></a>

                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ps.title}}</a>
                    <h3 class="product-title font-size-sm"><a href="#">{{ps.heading}}</a></h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price"><span class="text-accent">${{ps.price}}.<small>99</small></span></div>
                      <div class="star-rating">
                        <i class="fa fa-star {% if ps.star_average >= 1 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 2 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 3 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 4 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 50 %} text-warning {% endif %} "></i>
                        <small>{{ps.star_average}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category (Kids)-->
<section class="container pt-lg-4 mb-4 mb-md-5">
  <div class="row">
    <!-- Banner with controls-->
    <div class="col-md-5">
      <div class="d-flex flex-column h-100 overflow-hidden rounded-lg" style="background-color: #f6f8fb;">
        <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
          <div>
            <h3 class="mb-1">For Kids</h3><a class="font-size-md" href="#">Shop for kids<i class="fa fa-arrow-right font-size-xs align-middle ml-1"></i></a>
          </div>
        </div><a class="d-none d-md-block mt-auto" href="#"><img class="d-block w-100" src="{% static '/img/kid/cat-lg03.jpg' %}" alt="For Kids"></a>
      </div>
    </div>
    <!-- Product grid (carousel)-->
    <div class="col-md-7 pt-4 pt-md-0">
      <div class="carousel">
        <div class="carousel-inner">
          <!-- Carousel item-->
          <div>
            <div class="row mx-n2">
              {% for ps in product|slice:'1:6' %}
              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                  <form action="/order/addtowishlist/{{ps.id}}" method="POST">
                  {% csrf_token %}
                    <input type="hidden" name="productid" id="productid" value="{{product.id}}">
                    <button class="btn-wishlist btn-sm" type="submit" data-toggle="tooltip" data-placement="right" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                  </form>
                  <a class="card-img-top d-block overflow-hidden" href="{% url 'show_product' ps.id %}"><img src="{{ps.image1.url}}" alt="Product"></a>

                  <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ps.title}}</a>
                    <h3 class="product-title font-size-sm"><a href="#">{{ps.heading}}</a></h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price"><span class="text-accent">${{ps.price}}.<small>50</small></span></div>
                      <div class="star-rating">
                        <i class="fa fa-star {% if ps.star_average >= 1 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 2 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 3 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 4 %} text-warning {% endif %} "></i>
                        <i class="fa fa-star {% if ps.star_average >= 50 %} text-warning {% endif %} "></i>
                        <small>{{ps.star_average}}</small>
                      </div>
                    </div>
                  </div>
                </div>
          
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop by brand-->
<section class="container py-lg-4">
  <h2 class="h3 text-center pb-4">Shop by brand</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/01.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/02.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/03.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/04.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/05.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/06.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/07.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/08.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/09.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/10.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/11.png' %}" style="width: 150px;" alt="Brand"></a></div>
    <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static '/img/brand/12.png' %}" style="width: 150px;" alt="Brand"></a></div>
  </div>
</section>
<!-- Product widgets-->
<section class="container pt-md-3 pb-4 pb-md-5 mb-lg-2">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-2 py-3">
      <div class="widget">
        <h3 class="widget-title">Bestsellers</h3>
        {% for ps in product|slice:'0:4' %}

        <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" href="#"><img width="64" src="{{ps.image1.url}}" alt="Product"/></a>
          <div class="media-body">
            <h6 class="widget-product-title"><a href="{% url 'show_product' ps.id %}">{{ps.title}}</a></h6>
            <div class="widget-product-meta"><span class="text-accent mr-2">${{ps.price}}.<small>00</small></span></div>
          </div>
        </div>
        {% endfor %}
        <a class="font-size-sm" href="#">View more<i class="fa fa-arrow-right pl-2"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-2 py-3">
      <div class="widget">
        <h3 class="widget-title">Bestsellers</h3>
        {% for ps in product|slice:'4:8' %}

        <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" href="#"><img width="64" src="{{ps.image1.url}}" alt="Product"/></a>
          <div class="media-body">
            <h6 class="widget-product-title"><a href="{% url 'show_product' ps.id %}">{{ps.title}}</a></h6>
            <div class="widget-product-meta"><span class="text-accent mr-2">${{ps.price}}.<small>00</small></span></div>
          </div>
        </div>
        {% endfor %}
      <a class="font-size-sm" href="#">View more<i class="fa fa-arrow-right pl-2"></i></a>
      </div>
    </div>



    <div class="col-md-4 col-sm-6 d-none d-lg-block"><a class="d-block" href="#"><img class="d-block rounded-lg" src="{% static '/img/Best seller/v-banner.jpg' %}" alt="Promo banner"></a></div>
  </div>
</section>
<!-- Blog + Instagram info cards-->
<section class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="#">
      <div class="card-body text-center"><i class="fa fa-pencil-square h3 mt-2 mb-4 text-primary"></i>
        <h3 class="h5 mb-1">Read the blog</h3>
        <p class="text-muted font-size-sm">Latest store, fashion news and trends</p>
      </div></a></div>
    <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="#">
      <div class="card-body text-center"><i class="fa fa-instagram h3 mt-2 mb-4 text-accent"></i>
        <h3 class="h5 mb-1">Follow on Instagram</h3>
        <p class="text-muted font-size-sm">#ShopWithCartzilla</p>
      </div></a></div>
  </div>
</section>
{% endblock  %}